body{
    margin:0;
    height:100vh;
    background:
    linear-gradient(135deg,#020617,#0f172a,#0369a1);

    font-family:Segoe UI, sans-serif;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;
}


.container{
    width:90%;
    max-width:900px;
}


.card{

    background:rgba(255,255,255,0.10);

    backdrop-filter:blur(20px);

    border-radius:30px;

    padding:35px;

    box-shadow:
    0 0 50px rgba(0,200,255,.3);

}



.logo{

    text-align:center;

    font-size:70px;

}


h1{

text-align:center;

font-size:45px;

letter-spacing:5px;

}



.subtitle{

text-align:center;

color:#67e8f9;

}



.creator{

text-align:center;

margin:20px;

padding:20px;

border-radius:20px;

background:rgba(255,255,255,.1);

}


.creator strong{

color:#38bdf8;

font-size:20px;

}



#chat{

height:350px;

overflow:auto;

padding:20px;

}



.message{

padding:15px;

margin:10px;

border-radius:20px;

max-width:75%;

}



.bot{

background:#0284c7;

}



.user{

background:#334155;

margin-left:auto;

}



input{

width:70%;

padding:15px;

border-radius:30px;

border:none;

background:#020617;

color:white;

}



button{

padding:15px 30px;

border-radius:30px;

border:none;

background:#06b6d4;

font-weight:bold;

cursor:pointer;

}
